{% extends "layout.html" %}

{% set title = "Login" %}

{% block content %}

<div class="row">
    <div class="d-flex justify-content-between align-items-center">
        <h1 style="font-size: 15px !important;">Create BSO</h1>
        <ul class="pagination  pagination-sm justify-content-center m-0">
            <li class="page-item  fs-6" aria-current="page"><a class="page-link" href="/create-bso">Create BSO</a></li>
            <li class="page-item active"><a class="page-link" href="/stock-transfer">Stock Transfer</a></li>
        </ul>
    </div>
</div>

{% endblock %}