{% extends "layout.html" %}

{% set title = "Login" %}

{% block content %}

<div class="row">

    <div class="d-flex justify-content-between align-items-center">
        <h1 class="f5">Drafts</h1>
        <ul class="pagination  pagination-sm justify-content-center m-0">
            <li class="page-item  fs-6" aria-current="page"><a class="page-link" href="/create-order">New
                    Order</a></li>
            <li class="page-item active"><a class="page-link" href="/drafts">Drafts</a></li>
        </ul>
    </div>



</div>

<div class="row">

    <div class="col-12 p-1">

        <div class="bg-white rounded rounded-3 overflow-hidden shadow-sm p-3 pb-0">
            <div class="d-flex justify-content-between py-3 bg-white  mb-3">
                <div class="align-items-center">

                    <div class="d-flex gap-3">
                        <div class="input-group align-content-center ">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                        <div class="input-group align-content-center">
                            <!-- <span class="input-group-text"><i class="far fa-calendar-alt"></i></span> -->
                            <input type="date" class="form-control" placeholder="Select date...">
                        </div>
                    </div>

                </div>

                <div class="align-items-center justify-content-between">
                    <div class="input-group">
                        <input type="button" class="form-control excel-btn" value="Export to Excel">
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center ">
            </div>
            <div>
                <table class="table table-bordered" style="font-size: 12px; overflow-x:scroll;">
                    <tr class="bg-light">
                        <th>DR Date</th>
                        <th>Draft Name</th>
                        <th>Customer Name</th>
                        <th>Amount</th>
                        <th>Payment</th>
                        <th>Created by</th>
                        <th>Shipping</th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                        <td>20/01/2022</td>
                        <td>IN/1001/23</td>
                        <td>Acme</td>
                        <td>$45,3627</td>
                        <td>Terms</td>
                        <td>User Name</td>
                        <td>Pick Up</td>
                        <td> <a href="./order-update" class="link-primary">LOAD</a> | <a href="#" class="link-danger">DELETE</a>
                    </tr>

                    <tr class="row-color">
                        <td>20/01/2022</td>
                        <td>IN/1001/23</td>
                        <td>Acme</td>
                        <td>$45,3627</td>
                        <td>Terms</td>
                        <td>User Name</td>
                        <td>Pick Up</td>
                        <td><a href="#" class="link-primary">LOAD</a> | <a href="#" class="link-danger">DELETE</a></td>
                    </tr>
                    <tr>
                        <td>20/01/2022</td>
                        <td>IN/1001/23</td>
                        <td>Acme</td>
                        <td>$45,3627</td>
                        <td>Terms</td>
                        <td>User Name</td>
                        <td>Pick Up</td>
                        <td> <a href="#" class="link-primary">LOAD</a> | <a href="#" class="link-danger">DELETE</a>
                    </tr>

                    <tr class="row-color">
                        <td>20/01/2022</td>
                        <td>IN/1001/23</td>
                        <td>Acme</td>
                        <td>$45,3627</td>
                        <td>Terms</td>
                        <td>User Name</td>
                        <td>Pick Up</td>
                        <td><a href="#" class="link-primary">LOAD</a> | <a href="#" class="link-danger">DELETE</a></td>
                    </tr>
                    <tr>
                        <td>20/01/2022</td>
                        <td>IN/1001/23</td>
                        <td>Acme</td>
                        <td>$45,3627</td>
                        <td>Terms</td>
                        <td>User Name</td>
                        <td>Pick Up</td>
                        <td> <a href="#" class="link-primary">LOAD</a> | <a href="#" class="link-danger">DELETE</a>
                    </tr>

                    <tr class="row-color">
                        <td>20/01/2022</td>
                        <td>IN/1001/23</td>
                        <td>Acme</td>
                        <td>$45,3627</td>
                        <td>Terms</td>
                        <td>User Name</td>
                        <td>Pick Up</td>
                        <td><a href="#" class="link-primary">LOAD</a> | <a href="#" class="link-danger">DELETE</a></td>
                    </tr>
                    <tr>
                        <td>20/01/2022</td>
                        <td>IN/1001/23</td>
                        <td>Acme</td>
                        <td>$45,3627</td>
                        <td>Terms</td>
                        <td>User Name</td>
                        <td>Pick Up</td>
                        <td> <a href="#" class="link-primary">LOAD</a> | <a href="#" class="link-danger">DELETE</a>
                    </tr>

                    <tr class="row-color">
                        <td>20/01/2022</td>
                        <td>IN/1001/23</td>
                        <td>Acme</td>
                        <td>$45,3627</td>
                        <td>Terms</td>
                        <td>User Name</td>
                        <td>Pick Up</td>
                        <td><a href="#" class="link-primary">LOAD</a> | <a href="#" class="link-danger">DELETE</a></td>
                    </tr>
                    <tr>
                        <td>20/01/2022</td>
                        <td>IN/1001/23</td>
                        <td>Acme</td>
                        <td>$45,3627</td>
                        <td>Terms</td>
                        <td>User Name</td>
                        <td>Pick Up</td>
                        <td> <a href="#" class="link-primary">LOAD</a> | <a href="#" class="link-danger">DELETE</a>
                    </tr>

                    <tr class="row-color">
                        <td>20/01/2022</td>
                        <td>IN/1001/23</td>
                        <td>Acme</td>
                        <td>$45,3627</td>
                        <td>Terms</td>
                        <td>User Name</td>
                        <td>Pick Up</td>
                        <td><a href="#" class="link-primary">LOAD</a> | <a href="#" class="link-danger">DELETE</a></td>
                    </tr>
                    <tr>
                        <td>20/01/2022</td>
                        <td>IN/1001/23</td>
                        <td>Acme</td>
                        <td>$45,3627</td>
                        <td>Terms</td>
                        <td>User Name</td>
                        <td>Pick Up</td>
                        <td> <a href="#" class="link-primary">LOAD</a> | <a href="#" class="link-danger">DELETE</a>
                    </tr>

                    <tr class="row-color">
                        <td>20/01/2022</td>
                        <td>IN/1001/23</td>
                        <td>Acme</td>
                        <td>$45,3627</td>
                        <td>Terms</td>
                        <td>User Name</td>
                        <td>Pick Up</td>
                        <td><a href="#" class="link-primary">LOAD</a> | <a href="#" class="link-danger">DELETE</a></td>
                    </tr>
                </table>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <small class="text-muted">
                    Showing 1 of 10 of 7 Entries
                </small>
                <ul class="pagination pagination-xs justify-content-center m-0">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}