{% extends "layout.html" %}

{% set title = "Create New Product" %}

{% block content %}

<div class="row mb-4">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="f5">Create New Product</h1>
        <ul class="pagination pagination-sm">
            <li class="page-item"><a class="page-link" href="/all-products">All Products</a></li>
            <li class="page-item active"><a class="page-link" href="/create-new-product">Create New Products</a></li>
        </ul>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="bg-white rounded-3 shadow-sm p-4 form-container" style="max-width: 600px; width: 100%;">
        <div class="col-12 mb-4">
            <h4 class="mb-3">Product Information</h4>
            <div class="form-group mb-3">
                <h5 class="fs-6">Code</h5>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="app">
                </div>
            </div>
            <div class="form-group mb-3">
                <h5 class="fs-6">Category</h5>
                <select class="form-select">
                    <option>Select</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <h5 class="fs-6">Product Description</h5>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Apo Type 1P">
                </div>
            </div>
            <div class="form-group mb-3">
                <h5 class="fs-6">Unit</h5>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="bgs">
                </div>
            </div>
            <div class="form-group mb-3">
                <h5 class="fs-6">Basic Price</h5>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="190">
                </div>
            </div>
        </div>

        <div class="col-12 mb-4">
            <div class="row g-3">
                <div class="col-md-3">
                    <div class="form-group">
                        <h5 class="fs-6">Disc 1</h5>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="10%">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <h5 class="fs-6">Disc 2</h5>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="10%">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <h5 class="fs-6">Disc 3</h5>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="10%">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <h5 class="fs-6">Net Price</h5>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="150">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group mb-3">
                <h5 class="fs-6">Supplier Name</h5>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="app">
                </div>
            </div>
            <div class="form-group">
                <input type="button" class="form-control excel-btn" value="Submit">
            </div>
        </div>
    </div>
</div>

{% endblock %}
